.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #29c2ab;
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }

  .flexbox {
    display: flex;
    flex-direction: row;
  }
  
  /*モバイル表示*/
  @media screen and (max-width: 800px){
    .flexbox{
      flex-direction: column;/*flexアイテムを縦並びに変更*/
    }
  }